<nav
  id="navbar_id"
  class="navbar navbar-expand-lg navbar-light bg-light navbar1 transparent"
>
  <div class="container-fluid">
    <a class="navbar-brand pb-0 pt-3 ms-5" routerLink="/home"
      ><h3 class="name pt-2">bence mezei</h3></a
    >

    <button
      id="hamburger_menu_button"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0"></span>
    </button>
    <div
      class="collapse navbar-collapse links-container"
      id="navbarSupportedContent"
    >
      <div class="nav-links">
        <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
          <li class="nav-item dropdown text-center">
            <a
              class="nav-link active dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              WORKS
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <div>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    routerLink="/works-personal"
                    class="dropdown-item text-center"
                    >PERSONAL</a
                  ><a
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    routerLink="/works-guests"
                    class="dropdown-item text-center"
                    >COLLABORATIONS</a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item text-center">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLink="/calendar"
              class="nav-link active"
              aria-current="page"
              >DATES</a
            >
          </li>
          <li class="nav-item text-center">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLink="/about"
              class="nav-link active"
              aria-current="page"
              >ABOUT</a
            >
          </li>

          <li class="nav-item text-center">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLink="/contact"
              class="nav-link active"
              aria-current="page"
              >CONTACT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
