<div class="container mt-5">
  <div class="container">
    <div class="row">
      <div class="row">
        <h2 class="card-title">
          <strong>{{ work.title }}</strong>
        </h2>
        <h5 class="card-title">
          <strong>{{ work.subtitle }}</strong>
        </h5>
      </div>
    </div>
    <div class="row work-card mb-5">
      <div class="card border-0">
        <div class="card-body">
          <div class="image-container">
            <div *ngFor="let picture of work.images; let i = index">
              <img
                src="{{ picture.path }}"
                class="card-img-top img-fluid work-image pb-3"
                alt="..."
              />
            </div>
          </div>

          <div class="text-content">
            <div class="d-flex justify-content-end">
              <p *ngIf="work.images[0].photographer" class="photo-credit me-2">
                Photo by {{ work.images[0].photographer }}
              </p>
            </div>

            <p class="card-text" *ngFor="let paragraph of work.paragraphs">
              {{ paragraph }}
            </p>
            <h5 class="card-title"><strong>Credits</strong></h5>

            <ul class="list-group list-group-flush li-credit">
              <li
                *ngFor="let credit of work.credits"
                class="list-group-item li-credit"
              >
                {{ credit }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="work.video" class="w-100 d-flex justify-content-center">
    <iframe
      [src]="safeURL"
      title="Video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
