a {
  text-decoration: none;
}

section {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

.heart {
  color: red;
}

.copyright {
  font-size: 12px;
  left: 0;
}

footer {
  border-top: 2px solid salmon;
}
