<footer *ngIf="showFooter" class="text-white mt-5">
  <div class="pt-2">
    <section class="text-center">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/_mezeibence_/"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://vimeo.com/745315392"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <fa-icon [icon]="faVimeo"></fa-icon>
      </a>
    </section>
  </div>

  <div class="text-dark p-3 copyright text-center">
    2022 ©
    <a
      class="text-dark"
      href="https://www.linkedin.com/in/marius-bogdanel-1252651b4/?originalSubdomain=uk"
      >mBogdanel</a
    >
  </div>
</footer>
