<footer class="text-center text-white mt-5" style="background-color: #f1f1f1">
  <!-- Grid container -->
  <div class="pt-2">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      >
        mezei.ben@gmail.com
      </a>
    </section>
    <section class="mb-4">
      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/_mezeibence_/"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <!-- Facebook  -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022
    <a
      class="text-dark"
      href="https://www.linkedin.com/in/marius-bogdanel-1252651b4/?originalSubdomain=uk"
      >for Bence with <fa-icon class="heart" [icon]="faHeart"></fa-icon
    ></a>
  </div>
  <!-- Copyright -->
</footer>
