.navbar {
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
}

.nav-item {
  margin: 0 2rem;
}

.name {
  padding: 5px;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: transparent;
  border: none;
}

.navbar-toggler:hover,
.dropdown-item:hover,
a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: var(--text-color);
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-menu {
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
}

@media only screen and (min-width: 1000px) {
  .links-container {
    display: flex;
    justify-content: center;
  }
  .nav-links {
    padding-right: 135px;
  }
  a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 10px;
  }
}
