.navbar {
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
  position: relative;
  z-index: 10;
}

.nav-item {
  margin: 0 2rem;
}

.name {
  padding: 5px;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: transparent;
  border: none;
}

.navbar-toggler:hover,
.dropdown-item:hover,
a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: var(--text-color);
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-menu {
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
}

@media only screen and (min-width: 1000px) {
  .links-container {
    display: flex;
    justify-content: center;
  }
  .nav-links {
    padding-right: 135px;
  }
  a {
    font-size: 16px;
  }
}

:host-context(.contact-page) {
  .navbar {
    background-color: transparent;
  }

  .nav-link,
  .navbar-brand h3,
  .dropdown-toggle {
    color: #fff;
  }

  .name {
    border-color: #fff;
    background-color: transparent;
  }

  .line {
    background-color: #fff;
  }

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #fff;

    .dropdown-item {
      color: #fff;
    }
  }

  @media only screen and (max-width: 991px) {
    .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.9);
      margin: 0 -12px;
      padding: 1rem;

      .nav-link,
      .dropdown-toggle {
        color: #fff;
      }

      .dropdown-menu {
        background-color: transparent;
        border-color: #fff;

        .dropdown-item {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 10px;
  }
}
