<div class="container mt-5 w-75">
  <div class="card">
    <div class="card-body contact">
      <h5 class="card-title">Bence Mezei</h5>
      <p class="card-text mt-3">email: <strong>mezei.ben@gmail.com</strong></p>
      <p class="card-text">Telephone: <strong>+3630 5844 836</strong></p>
      <a class="mb-5" href="https://www.instagram.com/_mezeibence_"
        >Instagram</a
      >

      <img
        src="assets/pictures/contact_2017_Andrej-Lamut-19.jpg"
        class="card-img-bottom mt-5"
        alt="..."
      />
    </div>
  </div>
</div>
