@media only screen and (max-width: 1024px) {
  div.container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 420px) {
  .work-card {
    padding: 0;
  }
  .work-card {
    border-style: none;
    margin: auto;
  }
}

.work-card {
  border-radius: 1% !important;
  margin-top: 10px;
  // border-left: #ff00ff 2px solid;
  border: #ff00ff 5px solid;
  box-shadow: 10px 10px #ff00ff;
}

h6,
a,
p {
  text-decoration: none;
  // color: black;
  color: #fcfd1e;
}

.photo-credit {
  font-size: 12px;
}

.card-body {
  padding-top: 0;
  border-radius: 5%;
}
