<div class="container mt-5 flex-wrapper">
  <div class="row work-card mb-5">
    <div class="card mt-3 border-0">
      <div class="card-body">
        <!-- <h2 class="card-title mb-5">
          <strong>Bence Mezei</strong>
        </h2> -->
        <div class="card-title mb-5">
          <h6 class="card-text mt-3">
            Bence Mezei |
            <a href="mailto:mezei.ben@gmail.comm">
              <strong>mezei.ben@gmail.com</strong>
            </a>
            |
            <a href="tel:+3630 5844 836">
              <strong>+36 30 5844 836</strong>
            </a>
          </h6>
          <!-- <h6 class="card-text">
            telephone |
            <a href="tel:+3630 5844 836">
              <strong>+3630 5844 836</strong>
            </a>
          </h6> -->
          <!-- <strong>{{ work.subtitle }}</strong> -->
        </div>
      </div>
      <img
        src="assets/pictures/contact_2017_Andrej-Lamut-19.jpg"
        class="card-img-bottom ps-3"
        alt="..."
      />
    </div>
  </div>
</div>
