h6,
a,
p {
  text-decoration: none;
  color: #fcfd1e;
}

.photo-credit {
  font-size: 12px;
}

.card-body {
  padding-top: 0;
  border-radius: 5%;
}

@media only screen and (max-width: 1024px) {
  div.container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 420px) {
  .work-card {
    padding: 0;
  }
  .work-card {
    border-style: none;
    margin: auto;
  }
}
