<div class="container mt-5 w-50 flex-wrapper">
  <div class="row work-card mb-5">
    <div class="card mt-3 border-0">
      <div class="card-body">
        <!-- <h2 class="card-title mb-5">
          <strong>Bence Mezei</strong>
        </h2> -->
        <div class="card-title">
          <h4 class="card-text mt-3">
            email <strong>mezei.ben@gmail.com</strong>
          </h4>
          <h4 class="card-text">telephone <strong>+3630 5844 836</strong></h4>
          <!-- <strong>{{ work.subtitle }}</strong> -->
        </div>
      </div>
      <img
        src="assets/pictures/contact_2017_Andrej-Lamut-19.jpg"
        class="card-img-bottom mt-5"
        alt="..."
      />
    </div>
  </div>
</div>
