@media only screen and (max-width: 1024px) {
  div.container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 420px) {
  .work-card {
    padding: 0;
  }
  .work-card {
    border-style: none;
    margin: auto;
  }
}

.work-card {
  margin-top: 10px;
  border-left: black 2px solid;
}

a {
  text-decoration: none;
}
