@media only screen and (max-width: 1024px) {
  div.container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 420px) {
  .row {
    font-size: 12px;
  }
}
.hr-year {
  border: 10px solid rgb(196, 196, 196);
  border-radius: 5px;
}
