<div class="container mt-5 w-75">
  <div class="row">
    <h2 class="d-flex justify-content-center">Works</h2>
  </div>
  <div class="container-image">
    <!-- heading text -->
    <ul class="image-gallery">
      <li *ngFor="let work of works">
        <a [routerLink]="['/works-personal', work.id]">
          <img src="{{ work.imagePath }}" alt="" />
          <div class="overlay">
            <span>{{ work.title }}</span>
          </div>
        </a>
      </li>
      <!-- other items here -->
    </ul>
  </div>
</div>
