@media only screen and (max-width: 1024px) {
  div.container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 420px) {
  .work-card {
    padding: 0;
  }
}

hr {
  border: 10px solid #b30000;
  border-radius: 5px;
}

.card-body {
  margin-top: 10px;
  border-left: #ff00ff 2px solid;
}

#carouselExampleCaptions {
  margin: auto;
  width: 90%;
}

.work-image {
  aspect-ratio: 4/2.6;
  object-fit: cover;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

// * Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
