<div class="container mt-5">
  <div class="row">
    <h2 class="card-title ms-3">
      <strong>Bence Mezei</strong>
    </h2>
  </div>
  <div class="row work-card mb-5">
    <div class="card border-0">
      <img
        class="p-3 card-img-top"
        src="assets/pictures/picture_for_opening_page.jpg"
        alt="image"
      />
      <div class="card-body">
        <p>
          BENCE MEZEI is a dancer, performer and theater maker based in
          Budapest, Hungary and Ljubljana, Slovenia. He performed, collaborated
          and danced for various choreographers, theater and dance companies
          over the past decade, including Lionel Hoche, Anh Ngoc Nguyen, Adrienn
          Hód, Csaba Molnár, EnKnapGroup, Club Guy and Roni, Dollardaddy’s,
          Proton Theater, SNG Nova Gorica and Theater Glej among others.
        </p>

        <p>
          He is a member of the American performance group Nature Theater of
          Oklahoma and has been collaborating with the company regularly since
          2016. He has performed with them in Pursuit of Happiness in 2016 (made
          for EnKnap, Théâtre de la Ville and Steirischer Herbst), No President
          in 2018 (Rhurtriennale and Dusseldorf Schauspielhaus), Burt Turrido.
          An Opera in 2021 (Frankfurt Schauspielhaus and Mousontorm) and Kasimir
          and Karoline in 2022 (Volkstheater Wien).
        </p>
        <p>
          As a guest teacher Bence taught at the Budapest Hungarian Theater
          Academy (Pesti Magyar Színiakadémia) in 2017 and at FreeSzfe Society
          in 2022 and jointly holds the prominent Zupancic award from 2016 with
          the Slovenian dance company EnKnapGroup for their past work and impact
          on the Slovenian dance scene.
        </p>

        <p>
          As a choreographer and movement director Bence has created work for
          SNG Nova Gorica, István Örkény Theater, Latinovits Theater Budaörs,
          and for the Budapest based off-scene performance group Dollardaddy’s,
          where he also collaborates as a performer since 2022.
        </p>
        <p>
          In addition to his work as a performer and choreographer, Bence also
          creates his own original work, which he began on in 2016. In
          collaboration with both students and professionals he has written,
          choreographed and directed his own pieces.
        </p>
      </div>
    </div>
  </div>
</div>
