<div class="container mt-5">
  <div class="row">
    <h2 class="card-title ms-3">
      <strong>Bence Mezei</strong>
    </h2>
  </div>
  <div class="row work-card mb-5">
    <div class="card mt-3 border-0">
      <img
        class="p-3 card-img-top"
        src="assets/pictures/picture_for_opening_page.jpg"
        alt="image"
      />
      <div class="card-body">
        <p>
          Bence Mezei is a freelance dancer, performer and theater maker based
          in Budapest, Hungary and Ljubljana, Slovenia. He is a member of Nature
          Theater of Oklahoma and has performed with them in
          <i>
            Karoline und Kasimir: Noli Me Tangere, Burt Turrido. An Opera, No
            President (A Story Ballet of Enlightenment in Two Immoral Acts)</i
          >
          and <i> Pursuit Happiness</i> (2016-2022). Bence has wrote,
          choreographed and directed his own pieces in collaboration with both
          students and professionals, creating performances situated between
          dance and theater. Including
          <i>
            UTOPIANOW (in a search for a beautiful life), Odyssey Variations
            Episode One: Athena’s Play, Diary Monologues in 4 Acts, Dracula and
            The Girl and The Gloomy Forest and ’22 The Fall Of Man (2016-2022) </i
          >. He performed, collaborated and danced for various choreographers,
          theater and dance companies over the past decade, including Lionel
          Hoche, Éva Duda, Hodworks, EnKnapGroup, Club Guy and Roni, SNG Nova
          Gorica, Dollár Papa Gyermekei and Theater Glej among others. He taught
          at the Hungarian Theater’s Studio Department in Budapest and shares a
          Zupancic Award with EnKnapGroup for outstanding work and impact on the
          Slovenian dance scene. Bence builds his works from both personal and
          found material, freely mixing all kinds of performance genres and
          using theatrical devices, aimed to generate events that fully connects
          and pushes the limits of all the participants
        </p>
      </div>
    </div>
  </div>
</div>
