<!-- <app-navbar></app-navbar> -->

<!-- <div class="container2 w-100"></div> -->

<div class="container home-container">
  <div class="row title my-5">
    <h3><strong>dancer, performer, theater maker</strong></h3>
  </div>
  <div class="row">
    <div class="col-sm-8 column1">
      <p>
        BENCE MEZEI is a dancer, performer and theater maker based in Budapest,
        Hungary and Ljubljana, Slovenia. He is a member of the American
        performance group Nature Theater of Oklahoma and has performed with them
        in
        <i>
          Karoline und Kasimir: Noli Me Tangere, Burt Turrido. An Opera, No
          President (A Story Ballet of Enlightenment in Two Immoral Acts)</i
        >
        and <i> Pursuit Happiness</i>.
      </p>

      <p>
        Bence has written, choreographed and directed his own pieces in
        collaboration with both students and professionals, creating
        performances situated between dance and theater. Including
        <i>
          UTOPIANOW (in search for a beautiful life), Odyssey Variations –
          Episode One: Athena’s play, Diary Monologues in 4 Acts, Dracula and
          The Girl and The Gloomy Forest and ’22 The Fall of Man.</i
        >
      </p>
      <p>
        He performed, collaborated and danced for various choreographers,
        theater and dance companies over the past decade, including Lionel
        Hoche, Anh Ngoc Nguyen, Adrienn Hód, EnKnapGroup, Club Guy and Roni,
        Dollardaddy’s, SNG Nova Gorica, Theater Glej and Nature Theater of
        Oklahoma among others. He taught at the Budapest Theater Acting Academy
        (Pesti Magyar Színiakadémia) and shares a Zupancic Award with
        EnKnapGroup for outstanding work and impact on the Slovenian dance
        scene.
      </p>

      <p>
        Bence’s work consists of a blend of various aesthetics, ready made and
        found material; a mixture of personal stories combined with humor and
        popular culture, which he transforms through theatrical devices and
        plane hard work into a live experience aimed to generate a challenging
        event that pushes the limits of all the participants present.
      </p>
    </div>
    <div class="col-sm-4 column2">
      <img class="p-3 card-img-top image-fluid" [src]="imageSrc" alt="image" />
    </div>
  </div>

  <div class="my-5">
    <a (click)="openCV()" type="button" class="btn btn-cv"> more </a>
  </div>
</div>
