<nav
  id="navbar_id"
  class="navbar navbar-expand-lg navbar-light bg-light navbar1 transparent"
>
  <div class="container-fluid">
    <a class="navbar-brand pb-0 ms-5 mt-2" routerLink="/home"
      ><h4 class="name">bence mezei</h4></a
    >
    <button
      id="hamburger_menu_button"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0"></span>
    </button>
    <div
      class="collapse navbar-collapse links-container"
      id="navbarSupportedContent"
    >
      <div class="">
        <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
          <li class="nav-item dropdown text-center">
            <a
              class="nav-link active dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              WORKS
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <div>
                  <a
                    routerLink="/works-personal"
                    class="dropdown-item text-center"
                    >PERSONAL</a
                  ><a
                    routerLink="/works-guests"
                    class="dropdown-item text-center"
                    >COLLABORATIONS</a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item text-center">
            <a
              routerLink="/calendar"
              class="nav-link active"
              aria-current="page"
              >DATES</a
            >
          </li>
          <li class="nav-item text-center">
            <a routerLink="/about" class="nav-link active" aria-current="page"
              >ABOUT</a
            >
          </li>

          <li class="nav-item text-center">
            <a routerLink="/contact" class="nav-link active" aria-current="page"
              >CONTACT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container2 w-100"></div>
