<!-- <app-navbar></app-navbar> -->

<!-- <div class="container2 w-100"></div> -->

<div class="container home-container">
  <div class="row title my-5">
    <h3><strong>dancer, performer, theater maker</strong></h3>
  </div>
  <div class="row">
    <div class="col-sm-8 column1">
      <p>
        BENCE MEZEI is a dancer, performer and theater maker based in Budapest,
        Hungary and Ljubljana, Slovenia. He is a member of the American
        performance group Nature Theater of Oklahoma and has been collaborating
        with the company regularly since 2016. He has performed with them in
        Pursuit of Happiness in 2016 (made for EnKnap, Théâtre de la Ville and
        Steirischer Herbst), No President in 2018 (Rhurtriennale and Dusseldorf
        Schauspielhaus), Burt Turrido, An Opera in 2021 (Frankfurt
        Schauspielhaus and Mousontorm) and Kasimir and Karoline in 2022
        (Volkstheater Wien).
      </p>

      <p>
        He performed, collaborated and danced for various choreographers,
        theater and dance companies over the past decade, including Lionel
        Hoche, Anh Ngoc Nguyen, Adrienn Hód, Csaba Molnár, EnKnapGroup, Club Guy
        and Roni, Dollardaddy’s, Proton Theater, SNG Nova Gorica and Theater
        Glej among others.
      </p>
      <p>
        As a guest teacher Bence has taught at the Budapest Hungarian Theater
        Academy (Pesti Magyar Színiakadémia) in 2017 and 2025 and at FreeSzfe
        Society in 2022. As a dancer, he shares the prestigious Zupancic Award
        (2018) with the Slovenian dance company EnKnapGroup for their past work
        and impact on the Slovenian dance scene.
      </p>

      <p>
        As a choreographer and movement director, Bence has created work for SNG
        Nova Gorica, István Örkény Theater, Latinovits Theater Budaörs, and for
        the Budapest-based off-scene performance group Dollardaddy’s, with whom
        he has also been collaborating as a performer since 2022.
      </p>
      <p>
        In addition to his work as a performer and choreographer, Bence creates
        his own original work, which he began developing in 2016. In
        collaboration with both students and professionals, he has written,
        choreographed, and directed his own pieces.
      </p>
    </div>
    <div class="col-sm-4 column2">
      <img class="p-3 card-img-top image-fluid" [src]="imageSrc" alt="image" />
    </div>
  </div>

  <div class="my-5">
    <a (click)="openCV()" type="button" class="btn btn-cv"> more </a>
  </div>
</div>
