<div class="mt-5 flex-wrapper">
  <div class="container-image">
    <ul class="image-gallery">
      <li *ngFor="let work of works">
        <a [routerLink]="['/work', work.id, work.label]">
          <div class="image-container">
            <img src="{{ work.images[0].path }}" alt="" />
          </div>
          <div *ngIf="work.images[0].photographer" class="overlay"></div>
          <div class="overlay">
            <span>{{ work.title }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
