/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Courier Prime", monospace !important;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-inner {
  background: transparent;
}

.container {
  width: 60% !important;
}
